*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: #d9b0b0bd;
}
header{
    background-color: #ed4747;
    color: white;
    text-shadow: 1px 1px 3px #2a4b4c;
    
}
header > h1{
    text-align: center;
    padding: 15px;
}
header p{
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}
menu{
    display:none;
}
menu > ul{
    list-style:none;
}
menu a{
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #ee6d6d;
    color: white;
    text-align: center;
    border-top: 2px solid #638081;
}
menu a:hover{
    background-color: #447677;
}
#Menu-burger{
    background-color: #2a4b4c;
    color: #ee6d6d;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
#Menu-burger:hover{
    background-color: #ee6f6f;
    color: black;
}

#home{
    display: flex;
    min-height: 90vh;
    padding: 15px;
    flex-flow: column;
}
#cta{
    width: 90vw;
    margin-bottom: 20px;
}
.titulo{
    font-size: 2em;
}
span{
    color: #ed4747;
    text-shadow: 1px 1px 3px #2a4b4c;
}
#foto{
    width: 90vw;
}