*{
    text-decoration: none;
}
#Menu-burger{
    display: none;
    
}
#menu1{
    display: block;
    
    
}
header{
    height: 240px;
    background-image: url('Imagens/ja\ tomou\ seu\ acai\ hj.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
menu li{
    display: inline-block;
   padding-left:32px;
   width: 120px;
   

}
menu a{
    border-top-left-radius: 15px;
    
}
#home{
    display: flex;
    min-height: 80px;

}
#cta{
    width: 35%;
    display: flex;
    flex-flow: column;
    gap: 28px;
    margin-top: 5%;
}
.titulo{
    font-size: 2.9em;
    color: #1e0511;
}
.descricao{
    font-size: 1.5em;
}
.botao-cta{
    display: flex;
    gap: 24px;
}
.botao-cta a{
    color: white;
}
.opc{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffb623;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
}
#banner{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 20%;
}
#banner img{
    height: 70%;
    width: fit-content;
}
